{% extends 'base.html.twig' %}

{% block title %}Course Index{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-success text-center mb-2">Courses</h1>
    <center><a class="btn btn-primary waves-effect waves-light mb-5" href="#">Add Course</a></center>
    <div class="row">
        {% for course in courses %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="#" alt="{{ course.name }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">#</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="#" class="btn btn-dark">View details</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
