{% form_theme majorForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
	<div class="container col-md-7 text-center">
		<h2 class="text text-warning">Edit major</h2>
		{{ form_start (majorForm) }}
		{{ form_end (majorForm) }}
	</div>
{% endblock %}
