{% form_theme gradeForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-7 text-center">
   <h2 class="text text-warning">Add new Student grade</h2>
   {{ form_start (gradeForm) }}
   {{ form_end (gradeForm) }}
</div>
{% endblock %}